<form [formGroup]="formClient">
    <div class="modal-content">
        <div class="modal-header">
            <h1 *ngIf="isFormUpdateMode" class="modal-title fs-5" id="exampleModalLabel">Modifier le client : {{client.prenom}} {{client.nom}} </h1>
            <h1 *ngIf="!isFormUpdateMode" class="modal-title fs-5" id="exampleModalLabel">Ajouter un client </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="form-outline">
                <label *ngIf="isFormUpdateMode"  class="form-label" for="idClient">Numéro client :</label>
                <input *ngIf="isFormUpdateMode"  formControlName="idClient" type="number" id="idClient"
                    class="form-control" [attr.readonly]="isFormUpdateMode ? 'readonly':null"/>


                <label class="form-label" for="nom">Nom :</label>
                <input formControlName="nom" type="text" id="nom"
                    class="form-control"  [attr.readonly]="isFormUpdateMode ? 'readonly':null"/>

                <label class="form-label" for="montantRetrait">Prenom :</label>
                <input formControlName="prenom" type="text" id="prenom"
                    class="form-control"  [attr.readonly]="isFormUpdateMode ? 'readonly':null"/>

                <label class="form-label" for="adressePostale">Adresse :</label>
                <input formControlName="adressePostale" type="text" id="adressePostale"
                    class="form-control" />

                <label class="form-label" for="mail">Mail :</label>
                <input formControlName="mail" type="text" id="mail"
                    class="form-control" />

                <label class="form-label" for="numTel">Tel :</label>
                <input formControlName="numTel" type="text" id="numTel"
                    class="form-control" />


                <label class="form-label" for="lieuNaissance">Lieu de naissance :</label>
                <input formControlName="lieuNaissance" type="text" id="lieuNaissance"
                    class="form-control"  [attr.readonly]="isFormUpdateMode ? 'readonly':null"/>

                    <label class="form-label" for="dateNaissance">Date de naissance :</label>
                    <input formControlName="dateNaissance" type="date" id="dateNaissance"
                        class="form-control"  [attr.readonly]="isFormUpdateMode ? 'readonly':null"/>

                <label class="form-label" for="profession">Profession :</label>
                <input formControlName="profession" type="text" id="profession"class="form-control" />


                <label class="form-label" for="revenu">Revenu :</label>
                <input formControlName="revenu" type="number" id="revenu" class="form-control" />

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" id="closeModalUpdateClient" class="btn btn-secondary"
                data-bs-dismiss="modal">Fermer</button>
            <button *ngIf="isFormUpdateMode"  type="button" class="btn btn-primary" (click)="this.updateClient()">Modifier</button>
            <button *ngIf="!isFormUpdateMode"  type="button" class="btn btn-primary" (click)="this.addClient()">Ajouter</button>
        </div>
    </div>
</form>