<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Num client</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Tel</th>
                <th scope="col">Solde</th>
                <th><button (click)="this.loadFormCreate()" data-bs-toggle="modal" data-bs-target="#formClientModal"  class="btn btn-light" style="font-size: 12px;">Ajouter un client <i class="bi bi-person-fill-add" style="color:green"></i></button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{ c.numClient }}</td>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom }}</td>
                <td>{{ c.numTel }}</td>
                <td>{{ c.solde }}</td>
                <td>
                    <i class="bi bi-piggy-bank-fill boutonsTableClient" style="color:#ee667e" data-bs-toggle="modal" data-bs-target="#compteModal"></i>
                    <i (click)="this.loadFormUpdate(c.idClient)" data-bs-toggle="modal" data-bs-target="#formClientModal" class="bi bi-pencil-square boutonsTableClient" style="color:#1b599c"></i>
                    <i (click)="this.archiveClient(c.idClient)" class="bi bi-trash-fill boutonsTableClient" style="color:red"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal Update-->
<div class="modal fade" id="formClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <app-form-info-client (formSaved)="loadData()"></app-form-info-client>
    </div>
</div>