<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Num client</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Adresse</th>
                <th scope="col">mail</th>
                <th scope="col">Tel</th>
                <th scope="col">Lieu de naissance</th>
                <th scope="col">Profession</th>
                <th scope="col">Revenu</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-info">Compte</button></td>
                <td><button class="btn btn-info">Update</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>