@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { 
    height: 100%;
    background-color: #e7f3fd;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

