
    <header style="color:#f8f9fa;" class="border-bottom"> 
    <div class="container" >
        <div class="align-items-center justify-content-center justify-content-lg-start" style="display:inline-flex;width: 100%;">
            
            <a style='width:20%' href="#" class="col-12 d-flex  col-lg-auto align-items-center mb-2 mb-lg-0  text-decoration-none">
                <img style='width:40px' src="../assets/logo_site.png"/>
            </a>

            <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a style="font-size: 0.75rem;" class="nav-link px-2 link-secondary" routerLink="gestionClient">Mes clients</a></li>
            </ul>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a style="font-size: 0.75rem;" class="nav-link px-2 link-dark" routerLink="detailBanquier">Mes informations</a></li>
            </ul>
  

            <div class="text-end justify-content-center align-items-center">
                <button style="font-size: 12px;" type="button" class="btn btn-light">Deconnexion</button>
            </div>
        </div>
    </div>
    </header>