
    
<header style="color:#f8f9fa;box-shadow: 1px 0 1px 1px rgba(0,0,0,.1);" class="border-bottom"> 
    <div class="container" >
        <div class="align-items-center justify-content-center justify-content-lg-start" style="display:inline-flex;width: 100%;">
            
            <a href="#" class="col-1 d-flex align-items-center mb-2 mb-lg-0  text-decoration-none">
                <img style='width:40px' src="../assets/logo_site.png"/>
            </a>

            <ul class="nav col-2 mb-2 justify-content-center mb-md-0">
                <li><a style="font-size: 0.75rem;" class="nav-link px-2 link-secondary" routerLink="comptebancaire">Mon Compte</a></li>
            </ul>
            <ul class="nav col-7 me-lg-auto mb-2 justify-content-center mb-md-0" style="text-align:left">
                <li style="width:100%"><a style="font-size: 0.75rem;width:100%" class="nav-link px-2 link-dark" routerLink="detailclient">Mes informations</a></li>
            </ul>
  

            <div class=" col-2 text-end justify-content-center align-items-center">
                <button (click)="this.deconnect()" style="font-size: 12px;" type="button" class="btn btn-light">Deconnexion</button>
            </div>
        </div>
    </div>
</header>